<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <img alt="Brand" src="http://www.bemis.com/Bemis/media/library/images/logos/logo-bemis-sm.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/']">Home</a></li>        
      <li *ngIf="loggedIn"><a [routerLink]="['/new']">New Thread</a></li>
      <li *ngIf="!loggedIn"><a [routerLink]="['/login']">New Thread</a></li>      
      <li *ngIf="loggedIn"><a (click)="logout()">Sign Out ({{ user }})</a></li>
      <li *ngIf="!loggedIn"><a [routerLink]="['/login']">Sign In</a></li>
      <li class="dropdown">
    </ul>
  </div>
</nav>