<div id="navbar">
  <div id="navbar-primary">
    <div id="navbar-left" class="navbar-section"></div>
    <div id="navbar-right" class="navbar-section"></div>
  </div>
  <div id="navbar-secondary">
    <div id="nav-links">
      <a class="nav-item nav-link active" [routerLink]="['/']">Home</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" [routerLink]="['/new']">New Thread</a>
      <a *ngIf="!loggedIn" class="nav-item nav-link" [routerLink]="['/login']">New Thread</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" (click)="logout()">Sign Out ({{ user }})</a>
      <a *ngIf="!loggedIn" class="nav-item nav-link" [routerLink]="['/login']">Sign In</a>
    </div>
  </div>
  <img id="logo" src="http://www.freepnglogos.com/uploads/star-wars-logo-3.png">
</div>
