<h3>General Discussion</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Posted By</th>
        <th>Date</th>
        <th>Replies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let result of results'>
        <td><a [routerLink]="'/thread/' + result.id">{{ result.title }}</a></td>
        <td>{{ result.poster }}</td>
        <td>{{ (result.time_posted).substring(0, 10) }}</td>
        <td>{{ result.count }}</td>
      </tr>
    </tbody>
</table>