.fa-ban {
    color: gray;
}

.fa-trash {
    color: red;
}

.fa-trash:hover {
    cursor: pointer;
}

#topic-header {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 20px;
}

#topic-header > a {
    color: gold;
}

#break {
    margin: 0 10px;
}

td {
    color: ivory;
}

td > a {
    color: rgb(0, 204, 219);
    font-weight: bold;
}