#login-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(32, 192, 255);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

input {
    width: 200px;
}

label {
    display: none;
}

.warning {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-color {
    color: ivory;    
}