<div class="card">
  <div *ngFor='let result of results' class="card-block">
    <h4 class="card-title"> {{ result.title }} </h4>
    <h6 class="card-subtitle mb-2 text-muted"> {{ result.poster }} </h6>
    <p class="card-text"> {{ result.message }} </p>
    <a href="#" class="card-link">Reply</a>
  </div>
</div>
<hr>
<h4>Replies</h4>
<ul class="list-group">
  <li *ngFor='let reply of replies' class="list-group-item"> {{ reply.message }} <br> {{ reply.poster }} <br> {{ reply.time_posted }} </li>
</ul>
<hr>
<br>
<form>
  <div class="form-group">
    <label for="threadPost">Quick Reply:</label>
    <textarea type="text" class="form-control" id="threadPost" placeholder="Share what's on your mind"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Reply</button>
</form>