#thread {
    color: black;
}

#reply-container {
    padding: 10px 100px;
    /* background-color: ivory; */
    border-radius: 2%;
}

#signature {
    padding-left: 10px;
}

.card {
    border: 3px solid dimgray;
    padding: 10px;
    border-radius: 1%;
}

.card-header {
    background-color: black;
    color: white;
}

.label {
    color: gold;
}

.warning {
    color: rgba(221, 0, 44, 0.473);
}

.reply {
    display: flex;
    border-top: 1px solid lightgray;    
    background-color: white;
}

.reply-signature {
    flex: 1;
    border-right: 1px solid dimgray;
}

.reply-body {
    padding: 10px 0 0 40px;
    flex: 6
}

.reply-options {
    flex: 1;
    padding: 10px 0 0 20px;
}

.avatar {
    width: 70px;
    height: auto;
}

.fa-trash {
    color: red;
    font-size: 20px;
}

