<div id="thread-header">
    <a [routerLink]="['/']"><h6>Star Wars Fan Community</h6></a>
    <h6 id="break">/</h6>    
    <a [routerLink]="['/']"><h6>Forum</h6></a>
    <h6 id="break">/</h6>
    <a *ngIf="this.topic.length > 0" [routerLink]="'/topic/' + this.topic[0].id"><h6>{{ this.topic[0].topic }}</h6></a>
    <h6 id="break">/</h6>
    <h6>Thread</h6>
</div>
<div id="thread">
    <div *ngFor='let result of results' class="reply">
      <div class="reply-header">Thread</div>
      <div class="reply-container">
        <div class='reply-signature'>
          <img class='avatar' src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png'>
          <br> {{ result.poster }}
          <br> {{ result.time_posted.substring(0, 10) }}
        </div>
        <div class='reply-body'><span id="reply-title">{{ result.title }}</span><hr/><span>{{ result.message }}</span></div>
        <div class="reply-options"></div>
      </div>
    </div>
    <div *ngFor='let reply of replies' class="reply">
      <div class="reply-header">Reply</div>        
      <div class="reply-container">
        <div class='reply-signature'>
          <img class='avatar' src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png'>
          <br> {{ reply.poster }}
          <br> {{ (reply.time_posted).substring(0, 10) }}
        </div>
        <div class='reply-body'>{{ reply.message }}</div>
        <div class="reply-options">
          <i *ngIf="reply.poster == newReply.user && newReply.user != 'Anonymous'" (click)="stageDelete(reply.id)" class="fa fa-trash"
            aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>
        </div>
      </div>
    </div>
  <br>
  <div id='new-reply-container'>
    <h5 class="warning" *ngIf="!loggedIn()">Sign in to leave a reply</h5>
    <div class="form-group">
      <label class="label" for="threadPost">Quick Reply:</label>
      <textarea [(ngModel)]="newReply.reply" [disabled]="loggedIn() ? null : true" type="text" class="form-control" id="threadPost"
        placeholder="Share what's on your mind"></textarea>
    </div>
    <button (click)="this.submitReply()" [disabled]="loggedIn() ? null : true" type="submit" class="btn btn-outline-danger">Reply</button>
    <span *ngIf="loggedIn()" id='signature'> as {{ newReply.user }} </span>
  </div>
  <!-- <app-modal-delete [id]="deleteReplyId"></app-modal-delete> -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your post?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="this.deleteReply()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>