#home-header {
    display: flex;
    flex-wrap: wrap;    
}

#break {
    margin: 0 10px;
}

.thread-icon {
    height: 40px;
    width: 50px;
}

li {
    display: flex;
    border-bottom: 1px solid goldenrod;
    color: white;
}

a {
    color: rgb(0, 204, 219);
    font-weight: bolder;
}

.home-list-color {
    background-color: inherit;
}

#flex-left {
    flex: 2;
}

#flex-center {
    flex: 5;
}

#flex-right {
    width: 240px;
    font-size: 14px;
}