<div id="home-header">
    <h6>Star Wars Fan Community</h6>
    <h6 id="break">/</h6>
    <h6>Forum</h6>
</div>
<ul class="list-group">
  <li class="list-group-item home-list-color">
      <div id="flex-left" class="list-child"></div>
      <div id="flex-center">Topic</div>
      <div id="flex-right" class="list-child">Last Post</div>
    </li>
  <li *ngFor='let result of results' class="list-group-item home-list-color">
    <div id="flex-left" class="list-child">
      <img src="/assets/images/thread-icon.png" class="thread-icon">
    </div>
    <div id="flex-center">
        <a [routerLink]="'/topic/' + result.id">{{ result.topic.toUpperCase() }}</a>        
    </div>
    <div id="flex-right" class="list-child">
      <div *ngIf="result.poster != null">
        <a [routerLink]="['thread']" [queryParams]="{ topic: result.topic_id, id: result.thread_id }">{{ result.message.substring(0, 20) + "..." }}</a>
        <div>by {{ result.poster }} on {{ result.time_posted.substring(0, 10) }} </div>
      </div>
      <div *ngIf="result.poster == null">
        <div>No posts</div>
      </div>
    </div>
  </li>
</ul>